@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@media screen {
    body {
		position: absolute;
		left: 50%;
		top: 30%;
		  
		transform: translate(-50%, -50%);
		  
		width: 660px;
		height: 50%;
    }
}

body {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover.nocolor {
    color: #777;
}

a:hover {
    color: #000;
}

blockquote {
    color: #999
}

table{
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000;
    padding: 5px;
}

pre {
    padding: 30px 0;
}

h2 {
    margin-top: 50px;
}

.details {
    color: #777;
    text-align: justify;
    padding-top: 10px;
    display:block;
}

.links {
    padding-top: 10px;
    padding-bottom: 60px;
}