@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@media screen and (min-width:658px)  {
    body {
		position: absolute;
		left: 50%;
		top: 30%;
		  
		transform: translate(-50%, -50%);
		  
		width: 460px;
		height: 100%;
    }
}

@media screen and (min-width:659px) {
    body {
		position: absolute;
		left: 50%;
		top: 30%;
		  
		transform: translate(-50%, -50%);
		  
		width: 660px;
		height: 50%;
    }
}


img {
	/*
	img size --> 660x150
	*/
	width: 100%;
	
	filter: gray;  /* IE6-9 */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1);  /* Google Chrome, Safari 6+ & Opera 15+ */
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}


body {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover.nocolor {
    color: #777;
}

a:hover {
    color: #000;
}

blockquote {
    color: #999
}

table{
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000;
    padding: 5px;
}

pre {
    padding: 30px 0;
}

h2 {
    margin-top: 50px;
}

.details {
    color: #777;
    text-align: justify;
    padding-top: 10px;
    display:block;
}

.links {
    padding-top: 10px;
    padding-bottom: 60px;
}


/* testing... */
/*
.profile-image-container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.profile-image-container .profile-image {
  margin: auto;
}
.profile-image-container .mask-layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(1, 1, 1, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.profile-image-container:hover .mask-layer{
  visibility: visible;
}
*/